src/*.exe
src/acdc
src/acdcd
src/test_acdc
src/build.h
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.acdc
#compilation and Qt preprocessor part
*.qm
Makefile
acdc-qt
#resources cpp
qrc_*.cpp
#qt creator
*.pro.user
#mac specific
.DS_Store
build

!src/leveldb/Makefile
